<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter|Fredericka+the+Great|Cabin+Sketch|Yellowtail|Lato|Poiret+One|Lobster|Kaushan+Script|Lobster+Two|Pinyon+Script|Playball|Tangerine|Great+Vibes|Special+Elite|Rochester|Allerta+Stencil|Adamina|Montez|Cinzel+Decorative|Lustria|Seaweed+Script|Vast+Shadow|UnifrakturMaguntia|Monoton|Rye|Monofett|Dawning+of+a+New+Day' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="<%= image_path("others/d_javier.JPG")%>">
    <title>Mr Nilson</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

  </head>

  <body>

    <%= yield %>
    
  </body>
</html>